{% extends '::base.html.twig' %}
{% block title %} nextBus - La première plateforme d'achat et de réservation de billet de bus en ligne au Mali !{% endblock %}
{% block keywords %}
    voyage bus, bus voyage, billet de bus pas cher, bus mali, voyage car, bus pas cher mali, reservation bus, mali bus, billet de bus,
    billet bus, billet pas cher, prix billet, voyage mali, reservation nextBus, nextBus, reservation en ligne,
    plateforme de vente mali, plateforme de vente au mali, plateforme de vente de billet de bus, plateforme de vente
    de billet de bus au Mali, reserver, reserver mali, reserver au mali, achat de billet, billet mali,
    billet de bus mali, plateforme de reservation de billet de bus au Mali
{% endblock %}

{% block content %}
    <style>
        section#content {  min-height: 1000px; padding: 0; position: relative; overflow: hidden; }
        #main { padding-top: 200px; }
        .page-title, .page-description { color: #fff; }
        .page-title { font-size: 4.1667em; font-weight: bold; }
        .page-description { font-size: 2.5em; margin-bottom: 50px; }
        .featured { position: absolute; right: 50px; bottom: 50px; z-index: 9; margin-bottom: 0;  text-align: right; }
        .featured figure a { border: 2px solid #fff; }
        .featured .details { margin-right: 10px; }
        .featured .details > * { color: #fff; line-height: 1.25em; margin: 0; font-weight: bold; text-shadow: 2px -2px rgba(0, 0, 0, 0.2); }
    </style>
    <section id="content" class="slideshow-bg">
        <div id="slideshow">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="slidebg" style="background-image: url({{ absolute_url(asset('assets/images/slider/slider1.png')) }});"></div>
                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url({{ absolute_url(asset('assets/images/slider/slider2.png')) }});"></div>
                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url({{ absolute_url(asset('assets/images/slider/slider3.png')) }});"></div>
                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url({{ absolute_url(asset('assets/images/slider/slider4.png')) }});"></div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="container">
            <div id="main">
                <h1 class="page-title">Voyagez Autrement avec nextBus!</h1>
                <h2 class="page-description col-md-6 no-float no-padding">Nous vous apportons une expérience de voyage moderne, confortable et connectée.</h2>
                <div class="search-box-wrapper style2">
                    <div class="search-box">
                        <ul class="search-tabs clearfix">
                            <li class="active"><a href="#national-tab" data-toggle="tab"><i class="soap-icon-hotel"></i><span>NATIONAL</span></a></li>
                            <li><a href="#international-tab" data-toggle="tab"><i class="soap-icon-plane-right takeoff-effect"></i><span>INTERNATIONAL</span></a></li>
                        </ul>
                        <div class="visible-mobile">
                            <ul id="mobile-search-tabs" class="search-tabs clearfix">
                                <li class="active"><a href="#national-tab">NATIONAL</a></li>
                                <li><a href="#international-tab">INTERNATIONAL</a></li>
                            </ul>
                        </div>

                        <div class="search-tab-content">
                            <div class="tab-pane fade active in" id="national-tab">
                                <form action="{{ path('nb_main_listing') }}" method="get">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>De</label>
                                                <div class="selector">
                                                    <select class="full-width" name="from">
                                                        {% for key, val in national %}
                                                            <option value="{{ val.id }}">{{ val.nom }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>A</label>
                                                <div class="selector">
                                                    <select class="full-width" name="to">
                                                        {% for key, val in national %}
                                                            <option value="{{ val.id }}">{{ val.nom }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-xs-6">
                                                    <label>Date de voyage</label>
                                                    <div class="datepicker-wrap">
                                                        <input type="text" name="dateJ" class="input-text full-width" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>Date de retour</label>
                                                    <div class="datepicker-wrap">
                                                        <input type="text" name="dateR" class="input-text full-width" placeholder="" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-xs-6">
                                                    <label>&nbsp; </label>
                                                    <button class="full-width">RECHERCHER</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="tab-pane fade" id="international-tab">
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>De</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option value="">select cruise line</option>
                                                        <option>Azamara Club Cruises</option>
                                                        <option>Carnival Cruise Lines</option>
                                                        <option>Celebrity Cruises</option>
                                                        <option>Costa Cruise Lines</option>
                                                        <option>Cruise &amp; Maritime Voyages</option>
                                                        <option>Crystal Cruises</option>
                                                        <option>Cunard Line Ltd.</option>
                                                        <option>Disney Cruise Line</option>
                                                        <option>Holland America Line</option>
                                                        <option>Hurtigruten Cruise Line</option>
                                                        <option>MSC Cruises</option>
                                                        <option>Norwegian Cruise Line</option>
                                                        <option>Oceania Cruises</option>
                                                        <option>Orion Expedition Cruises</option>
                                                        <option>P&amp;O Cruises</option>
                                                        <option>Paul Gauguin Cruises</option>
                                                        <option>Peter Deilmann Cruises</option>
                                                        <option>Princess Cruises</option>
                                                        <option>Regent Seven Seas Cruises</option>
                                                        <option>Royal Caribbean International</option>
                                                        <option>Seabourn Cruise Line</option>
                                                        <option>Silversea Cruises</option>
                                                        <option>Star Clippers</option>
                                                        <option>Swan Hellenic Cruises</option>
                                                        <option>Thomson Cruises</option>
                                                        <option>Viking River Cruises</option>
                                                        <option>Windstar Cruises</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>A</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option value="">select cruise line</option>
                                                        <option>Azamara Club Cruises</option>
                                                        <option>Carnival Cruise Lines</option>
                                                        <option>Celebrity Cruises</option>
                                                        <option>Costa Cruise Lines</option>
                                                        <option>Cruise &amp; Maritime Voyages</option>
                                                        <option>Crystal Cruises</option>
                                                        <option>Cunard Line Ltd.</option>
                                                        <option>Disney Cruise Line</option>
                                                        <option>Holland America Line</option>
                                                        <option>Hurtigruten Cruise Line</option>
                                                        <option>MSC Cruises</option>
                                                        <option>Norwegian Cruise Line</option>
                                                        <option>Oceania Cruises</option>
                                                        <option>Orion Expedition Cruises</option>
                                                        <option>P&amp;O Cruises</option>
                                                        <option>Paul Gauguin Cruises</option>
                                                        <option>Peter Deilmann Cruises</option>
                                                        <option>Princess Cruises</option>
                                                        <option>Regent Seven Seas Cruises</option>
                                                        <option>Royal Caribbean International</option>
                                                        <option>Seabourn Cruise Line</option>
                                                        <option>Silversea Cruises</option>
                                                        <option>Star Clippers</option>
                                                        <option>Swan Hellenic Cruises</option>
                                                        <option>Thomson Cruises</option>
                                                        <option>Viking River Cruises</option>
                                                        <option>Windstar Cruises</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-xs-6">
                                                    <label>Date de retour</label>
                                                    <div class="datepicker-wrap">
                                                        <input type="text" class="input-text full-width" placeholder="Departure Date" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>Date de voyage</label>
                                                    <div class="datepicker-wrap">
                                                        <input type="text" class="input-text full-width" placeholder="Departure Date" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-xs-6">
                                                    <label>&nbsp; </label>
                                                    <button class="full-width">RECHERCHER</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="featured image-box">
            <div class="details pull-left">
                <h3>Tropical Beach,<br/>Hotel and Resorts</h3>
                <h5>THAILAND</h5>
            </div>
            <figure class="pull-left">
                <a class="badge-container" href="#">
                    <span class="badge-content right-side">From $200</span>
                    <img width="64" height="64" alt="" src="http://placehold.it/64x64" class="">
                </a>
            </figure>
        </div>
    </section>
{% endblock %}


{% block footer %} {% endblock %}


{% block scripts %}
    <script type="text/javascript">
        tjq(".flexslider").flexslider({
            animation: "fade",
            controlNav: false,
            animationLoop: true,
            directionNav: false,
            slideshow: true,
            slideshowSpeed: 5000
        });
    </script>
{% endblock %}